.chat-container {
  max-width: 750px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  chat-messages {
    min-height: 400px;
    overflow-y: auto;
    max-height: 600px;
  }

  chat-write-form {
    margin-top: 1rem;
  }
}
