$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$md-theme-primary: (
  50 : #e4efe2,
  100 : #bbd7b8,
  200 : #8ebd88,
  300 : #60a258,
  400 : #3e8e35,
  500 : #1c7a11,
  600 : #19720f,
  700 : #14670c,
  800 : #115d0a,
  900 : #094a05,
  A100 : #83ff7f,
  A200 : #52ff4c,
  A400 : #20ff19,
  A700 : #08fe00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-theme-accent: (
  50 : #fcf3f3,
  100 : #f9e0e0,
  200 : #f5cccc,
  300 : #f0b8b8,
  400 : #eda8a8,
  500 : #ea9999,
  600 : #e79191,
  700 : #e48686,
  800 : #e17c7c,
  900 : #db6b6b,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffeaea,
  A700 : #ffd0d0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-theme-warn: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Chat message variables
$chat-message-text-border-color:  map-get($md-theme-primary, 100);
$chat-message-text-bg-color: map-get($md-theme-primary, 50);
$chat-message-date-color:  map-get($md-theme-primary, 200);
$chat-message-date-text-size: 12px;
