/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'colours' as colour;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #2c8f2c3b;
}

$my-primary: mat.define-palette(colour.$md-theme-primary, 500, 100, 700, 50);
$my-accent: mat.define-palette(colour.$md-theme-accent, A200, A100, A400, A700);
$my-warn: mat.define-palette(colour.$md-theme-warn);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core();
@include mat.core-theme($my-theme);
@include mat.card-theme($my-theme);
@include mat.progress-bar-theme($my-theme);
@include mat.tooltip-theme($my-theme);
@include mat.form-field-theme($my-theme);
@include mat.input-theme($my-theme);
@include mat.select-theme($my-theme);
@include mat.autocomplete-theme($my-theme);
@include mat.dialog-theme($my-theme);
@include mat.chips-theme($my-theme);
@include mat.slide-toggle-theme($my-theme);
@include mat.radio-theme($my-theme);
@include mat.slider-theme($my-theme);
@include mat.menu-theme($my-theme);
@include mat.list-theme($my-theme);
@include mat.paginator-theme($my-theme);
@include mat.tabs-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.icon-button-theme($my-theme);
@include mat.fab-theme($my-theme);
@include mat.snack-bar-theme($my-theme);
@include mat.table-theme($my-theme);
@include mat.progress-spinner-theme($my-theme);
@include mat.badge-theme($my-theme);
@include mat.bottom-sheet-theme($my-theme);
@include mat.button-toggle-theme($my-theme);
@include mat.datepicker-theme($my-theme);
@include mat.divider-theme($my-theme);
@include mat.expansion-theme($my-theme);
@include mat.grid-list-theme($my-theme);
@include mat.icon-theme($my-theme);
@include mat.sidenav-theme($my-theme);
